<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Item Details</title>
      <style>
            #item-name {
              font-size: 2em;
              color: #333;
              margin-bottom: 0.5em;
            }
        
            #item-desc {
              font-size: 1.5em;
              color: #666;
              margin-bottom: 0.3em;
            }
        
            #item-price {
              font-size: 1.2em;
              color: #000;
              font-weight: bold;
              margin-bottom: 1em;
            }
          </style>
</head>
<body>
      <h1 id="item-name">{{ item.item_name }}</h1>
      <h2 id="item-desc">{{ item.item_desc }}</h2>
      <h3 id="item-price">${{ item.item_price }}</h3>
</body>
</html>

